body {
    background-color: bisque;
}

#header nav {
    background-color: red;
    display: inline;
}

#SectionLink {
    background-color: yellow;
}

#SectionLink a {
    color: pink;
    text-decoration: none;
    display: inline;
}

#pricing {
    background-color: #e48220;
}

.spece {
    background-color: white;
    display: inline-block;
}

#pricing div {
    align-items: center;
}

.chihuahua {
    float: left;
}

.labrador {
    justify-items: center;
}

footer {
    text-align: center;
    background-color: #00ff00;
    height: 50px;
}

footer p {
    padding-top: 20px;
}